.card {
  font-size: 18px;
  text-align: center;
  margin-bottom: 12px;
  cursor: pointer;
  perspective: 1000px;
  height: 35px;
  width: 200px;
  margin-right: 12px;
  display: flex;
  align-items: center;

}

.chosen .cardInner {
  transform: rotateY(180deg);
}

.cardInner {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.6s;
  margin-left: 20px;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.cardFront, 
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "SF Mono Regular", sans-serif;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 6px 12px;
}

.isRemembered {
  .cardFront, 
  .cardBack {
    text-decoration: line-through;
  }

  .icons {
    color: #8625b9;
  }
}

.cardFront {
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
}

.cardBack {
  background-color: rgba(75,16,106,0.70);
  color: white;
  transform: rotateY(180deg);
}

.icons {
  font-size: 26px;
  cursor: pointer;
  &:hover {
    color: #8625b9;
  }
}